@font-face {
  font-family: "nib-semibold";
  src: url("../../assets/fonts/NibPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nib-bold";
  src: url("../../assets/fonts/NibPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.store-header {
  font-family: "raisonne-demibold", serif;
  color: #224229;
  font-size: 30px;
  margin: 40px 0 10px 40px;
}
.filtered-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 80px;
  margin-left: 89px;
  width: 87%;
  border: 3px solid #224229;
}

.shop-info {
  font-family: "nib-semibold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: -15px;
  margin-left: -100px;
  width: 40%;
}
.shop-image {
  width: 485px;
  height: 270px;
  margin-left: -71px;
}
.store-addy {
  font-size: 20px;
}
.shop-subtype {
  font-size: 20px;
  font-weight: bolder;
  color: #224229;
}
.button-bar-border {
  border: none;
  border-top: 3px double #224229;
  height: 5px;
  width: 100%;
  margin-left: 0px;
}
.button-bar {
  display: flex;
  justify-content: space-between;
}
.view-boro-button {
  margin: 40px auto;
  padding: 10px;
  background-color: #224229;
  color: antiquewhite;
  font-size: 20px;
  font-family: "nib-semibold";
  width: 15%;
  border: 0px hidden;
  border-radius: 40px;
}
