@font-face {
  font-family: "raisonne-demibold";
  src: url("../../assets/fonts/raisonne-demibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#home-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header-image {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1470058869958-2a77ade41c02?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}
.image-text {
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 100;
  font-family: "raisonne-demibold", Times, serif;
  color: white;
  font-size: 50px;
  text-align: center;
}
